body {
    background-color: #007AFF !important;
}

.navbar {
    font-family: 'rubik', regular;
}

.d-none {
    display: none;
}

.bg-success,
.bg-danger {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-color: #007AFF !important;
}

.card-title {
    font-family: 'rubik', medium;
}

.card {
    width: 100%;
    font-family: 'rubik', regular;
}

.quizCard {
    width: 30rem;
}

.questionAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.cardFooter {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.gameEnd {
    font-size: 38px;
    font-family: 'rubik', bold;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameEnd img {
    height: 130px;
    width: 130px;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media (max-width: 365px) {
    .card {
        text-align: center;
    }
}